{
  "Environment": "production",
  "ServerPort": 8080,
  "Database": {
    "MongoDB": {
      "URL": "HOST_MONGO",
      "Database": "DATABASE_MONGO"
    },
    "MySQL": {
      "Read": {
        "Username": "USER_DB",
        "Password": "PASSWORD_DB",
        "Name": "NAME_DB",
        "Hostname": "HOST_DB",
        "Port": 3306,
        "Parameter": "?parseTime=true"
      },
      "Write": {
        "Username": "USER_DB",
        "Password": "PASSWORD_DB.",
        "Name": "NAME_DB",
        "Hostname": "HOST_DB",
        "Port": 3306,
        "Parameter": "?parseTime=true"
      }
    }
  },
  "Server": {
    "Hostname": "localhost:8080",
    "UseHTTP": true,
    "UseHTTPS": false,
    "HTTPPort": 8080,
    "HTTPSPort": 443,
    "CertFile": "tls/server.crt",
    "KeyFile": "tls/server.key"
  },
  "Secure": {
    "SaltPasswordDB": "SALT_PASSWORD"
  },
  "URLS": {
    "OtherApi": "http://localhost:8084/"
  },
}