{
  "Environment": "production",
  "ServerPort": 8080,
  "Services": {
    "RabbitMq": "amqp://user:pass@host:5672",
    "SendGrid": {
      "url": "https://api.sendgrid.com/v3/ ",
      "TemplatesID": {
        "FancyMail": "d-hash-id"
      }
    },
    "OtherService": "https://dominio.com/"
  },
  "Secure": {
    "JWTAccessSecure": "accesskeyyoumayneedtochangeit",
    "JWTRefreshSecure": "refreshkeyyoumayneedtochangeit",
    "JWTAccessTimeMinute": 10,
    "JWTRefreshTimeHour": 10

  },
  "Endpoints": {
    "SiteExample": "http://localhost:8084/"
  },
  "Tools": {
    "WkhtmltopdfBin": "/opt/bin/wkhtmltopdf"
  },
  "Databases": {
    "MongoDB": {
      "URL": "mongodb://user:pass@host:27017",
      "DatabaseLogs": "name_database"
    },
    "MySQL": {
      "BoilerplateGo": {
        "Read": {
          "Hostname": "mysqldb",
          "Name": "boilerplate_go",
          "Username": "root",
          "Password": "password",
          "Port": "3306",
          "Parameter": "?parseTime=true"
        },
        "Write": {
          "Hostname": "mysqldb",
          "Name": "boilerplate_go",
          "Username": "root",
          "Password": "password",
          "Port": "3306",
          "Parameter": "?parseTime=true"
        }
      },
      "CompanyOp": {
        "Read": {
          "Hostname": "hostname_read",
          "Name": "name_database",
          "Username": "username",
          "Password": "PASS",
          "Port": "3306",
          "Parameter": "?parseTime=true"
        },
        "Write": {
          "Hostname": "hostname_write",
          "Name": "name_database",
          "Username": "username",
          "Password": "PASS",
          "Port": "3306",
          "Parameter": "?parseTime=true"
        }
      }
    }
  }
}

