version: '3'
services:
  go-microservice:
    build: .
    image: go-microservice
    environment:
      - MYSQL_URL=sql://user:pass
      - MONGODB_URL=mongodb://mongodb:27017/go-boilerplate
    ports:
      - '8090:8090'
    restart: on-failure
    depends_on:
      - mysqldb
    #volumes:
    #  - .:/srv/go-app
    networks:
      - go-network
  mysqldb:
    platform: linux/x86_64
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'boilerplate_go'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'user'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - ./docker/scripts/schema.sql:/docker-entrypoint-initdb.d/setup.sql
      - dbdata:/var/lib/mysql


    networks:
      - go-network

volumes:
  dbdata:

networks:
  go-network:
    driver: bridge
