{{ define "layouts/modalGenericoBulma.tmpl" }}

  <div class="modal" id="m-generico">
    <div class="modal-background cerrar-modal"></div>
    <div class="modal-card">
      <header class="modal-card-head ">
        <p class="modal-card-title" id="m-generico-titulo">INSERTE TITULO</p>
        <button class="delete cerrar-modal" aria-label="close"></button>
      </header>
      <section class="modal-card-body" id="m-generico-body">
        INSERTE CONTENIDO
      </section>
      <footer class="modal-card-foot">
        <button class="button cerrar-modal">Cerrar</button>
      </footer>
    </div>
  </div>

{{ end }}