{{ define "template/login.tmpl" }}

  <!DOCTYPE html>
  <html lang="es">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Admin Aceso </title>
    <link rel="icon" type="image/png" href="/public/static/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/login.css">
  </head>

  <body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Administración Aceso</h3>
          <p class="subtitle has-text-grey">Ingresa tus datos. </p>
          <div class="box">
            <figure class="avatar">
              <img src="https://placehold.it/128x128">
            </figure>
            <form id="login" method="post">
              <div class="field">
                <div class="control">
                  <input class="input is-large" id="username" type="username" placeholder="Usuario" autofocus="">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" id="password" type="password" placeholder="Contraseña">
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Recordar Contraseña
                </label>
              </div>
              <button id="btn-login" class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="../..">Registrate</a> &nbsp;·&nbsp;
            <a href="../..">Olvidaste tu Contraseña</a> &nbsp;·&nbsp;
            <a href="../..">Necesitas Ayuda</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/public/static/js/login.js"></script>
  </body>

  </html>


{{ end }}